.contributions{
padding-top: 90px;
font-family: 'roboto';
padding-bottom: 45px;
}
.contributions h1{
text-align: center;
margin-bottom: 40px;
}
.contributions .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 34px;
}

.contributions .card{
    width: 360px;
    border-radius: 15px;
    overflow: hidden;
    background-color:#243250;
    color: white;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.445);
}
.contributions .card img{
    width: 100%;
    height: 190px;
    border-radius:12px 12px 0 0 ;
}
.contributions .card-body{
    padding: 15px;
    padding-top: 7px;
}
.contributions .card-body p{
    margin-top: 13px;
    line-height: 21px;
    font-size: 17px;
} 
