
.accordion{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 80px;
   padding-top: 100px !important;
   font-family: sans-serif;
}
.fa-bars{
    display: none !important;
}
.accordion div{
    width: 49%;
    font-size: 17.5px;
    display: flex;
    flex-direction: column;
}
.accordion div h2{
    margin-block: 7px 5px;
}
center{
     width: 49%;
}

img{
    height: 100%;
 width: 100%;
    margin-inline: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}
header{
    padding-inline: 50px;
}
.zoglid{
    padding-inline: 50px;
}
@media(width < 1200px){
   .accordion{
    flex-direction: column-reverse;
    gap: 12px;
   }
   center{
    width: 90%;
    height: 300px;
   }
   .accordion div{
    width: 90%;
   }
}
@media(width < 700px){
    center{
        width: 100%;
    }
    .accordion div{
        width: 100%;
    }
}
